services:
  server:
    container_name: nest_server
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - PORT=${PORT:-4000}
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "${PORT:-4000}:${PORT:-4000}"
